/*!******************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/app.scss ***!
  \******************************************************************************************************************************************************/
/* By Athlon Front-End Team */
/* Core variables */
/**
 * Variables
*/
/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
/* Components */
/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: none;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
main {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  background: transparent;
  text-decoration: none;
}

button,
input {
  line-height: normal;
}

input[type=search] {
  -webkit-appearance: textfield;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

textarea:focus,
input:focus {
  outline: 0;
}

input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* CSS print */
/**
 * Print Stylesheet
*/
@media print {
  @page {
    margin: 1cm;
  }
  body {
    background: #f1f3f5;
    color: #000;
  }

  a {
    page-break-inside: avoid;
  }

  blockquote {
    page-break-inside: avoid;
  }

  table,
pre {
    page-break-inside: avoid;
  }

  ul, ol, dl {
    page-break-before: avoid;
  }
}
/* Fonts */
/**
 * Fonts
*/
@font-face {
  font-family: "Proxima Nova";
  src: url(../7bc9ce404c297c24f210.otf) format("otf"), url(../images/design/FontsFree-Net-Bely-Display-W00-Regular.620a2f.ttf) format("ttf"), url(../5330d370eef8d097fb2d.TTF) format("ttf"), url(../images/design/SchulVokalDotless.a19d8f.ttf) format("ttf"), url(../images/design/DINPro-Regular.7b307e.woff) format("woff"), url(../images/design/DINPro-Regular.f8ce19.ttf) format("truetype");
  font-style: normal;
}
/* Mixins, helpers and functions */
/**
 * Helper mixins
*/
/* Vendor */
/* Components */
html {
  font-size: 62.5%;
  font-family: serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  border-top: 0.4rem solid #3bc9db;
  max-width: 100rem;
}

/* Below 912px (smaller laptops) */
@media (max-width: 57em) {
  html {
    font-size: 56.25%;
  }
}
/* Below 816px (tablets) */
@media (max-width: 51em) {
  html {
    font-size: 52%;
  }
}
.btn {
  font-size: 1.5rem;
  font-weight: 100;
  font-family: serif;
  letter-spacing: 0.1rem;
  color: #fff;
  background-color: #3bc9db;
  border: none;
  border-radius: 5px;
  padding: 0.8rem;
  cursor: pointer;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100rem;
  padding-bottom: 2.4rem;
  margin-bottom: 4rem;
  border-bottom: 0.1rem #ced4da solid;
  padding: 2rem 2rem;
  position: relative;
}
.main-header .header-info {
  line-height: 0.8;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.main-header .header-info__social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.4rem;
}
.main-header .header-info__social-network .icons {
  height: 3.4rem;
  width: auto;
  cursor: pointer;
}
.main-header .header-info__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-header .header-info__logo .logo-name {
  font-size: 3.1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #343a40;
}
.main-header .header-info__logo .logo-name-first {
  font-size: 4rem;
}
.main-header .header-info__logo .logo-name-template {
  font-size: 1.6rem;
  font-weight: 100;
  color: #868e96;
}
.main-header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-header .navigation__search-field {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.main-header .navigation__search-field .input-field {
  height: 3.4rem;
  width: 22rem;
  color: #f1f3f5;
  background-color: #343a40;
  border-radius: 8px;
  border: none;
}
.main-header .navigation__search-field .btn-search {
  height: 3.4rem;
  border-radius: 8px;
  border: none;
  background-color: #3bc9db;
  color: #f1f3f5;
}
.main-header .navigation .main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-header .navigation .main-navigation__list {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.main-header .navigation .main-navigation__list .list-item {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.main-header .navigation .main-navigation__list .list-item .nav-item:link,
.main-header .navigation .main-navigation__list .list-item .nav-item:visited {
  color: #868e96;
}
.main-header .navigation .main-navigation__list .list-item .nav-item:hover,
.main-header .navigation .main-navigation__list .list-item .nav-item:active {
  color: #3bc9db;
}
.main-header .navigation .button-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: none;
}
.main-header .navigation .button-mobile-nav .icon-mobile-nav {
  height: 4.4rem;
  width: 4.4rem;
  color: #333;
}
.main-header .navigation .button-mobile-nav .icon-mobile-nav[alt=close-outline] {
  display: none;
}

.sticky .main-header {
  position: fixed;
  top: 0;
  gap: 19.5rem;
  background-color: rgba(255, 255, 255, 0.897);
  z-index: 999;
  -webkit-box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.06);
          box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.06);
}

.sticky .section-hero-slider {
  margin-top: 18rem;
}

/* Below 816px (smaller tablets) */
@media (max-width: 51em) {
  .sticky .main-header {
    width: 100%;
    max-height: 14rem;
  }

  .button-mobile-nav {
    display: block !important;
    z-index: 1;
  }

  .main-navigation {
    background-color: rgba(255, 255, 255, 0.897);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    z-index: 1;
    /* 1) hide it visually */
    opacity: 0;
    /* 2) make it unaccessible to mouse and keyboard */
    pointer-events: none;
    /* 3) hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-navigation {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[alt=close-outline] {
    display: block !important;
  }

  .nav-open .icon-mobile-nav[alt=menu-outline] {
    display: none !important;
  }

  .main-navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3.6rem !important;
  }

  .nav-item:link,
.nav-item:visited {
    font-size: 3.6rem;
  }
}
/* Below 704px (smaller tablets) */
@media (max-width: 44em) {
  .sticky .main-header {
    width: 100%;
    gap: 2rem;
  }
}
/* Below 560px (phones) */
@media (max-width: 35em) {
  .main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.6rem;
  }

  .sticky .main-header {
    width: 100%;
    gap: 0;
  }

  .header-info,
.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  .header-info__search-field,
.navigation__search-field {
    -ms-flex-item-align: center !important;
        align-self: center !important;
  }
}
.section-hero-slider {
  height: 40rem;
  border-bottom: 1px solid #ced4da;
  position: relative;
  overflow: hidden;
}
.section-hero-slider .slide {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1.25fr;
  -webkit-column-gap: 10rem;
     -moz-column-gap: 10rem;
          column-gap: 10rem;
  margin-left: 5rem;
  padding: 0 2rem 8rem 2rem;
  margin-top: 5rem;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}
.section-hero-slider .hero-img-box {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(122, 205, 243, 0.05)), to(rgba(34, 184, 230, 0.15))), url(../images/design/hero.43ec79.jpg);
  background-image: linear-gradient(to right bottom, rgba(122, 205, 243, 0.05), rgba(34, 184, 230, 0.15)), url(../images/design/hero.43ec79.jpg);
  background-size: cover;
  background-position: center;
  width: auto;
  max-width: 500rem;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.section-hero-slider .hero-img1 {
  background-image: url(../images/design/hero1.d1ff2e.jpg);
}
.section-hero-slider .hero-img2 {
  background-image: url(../images/design/hero2.5b4c4e.jpg);
}
.section-hero-slider .hero-img3 {
  background-image: url(../images/design/hero3.4f4c28.jpg);
}
.section-hero-slider .hero-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
  z-index: 0;
  position: relative;
}
.section-hero-slider .hero-text-box__title {
  font-size: 4.4rem;
  text-transform: uppercase;
  color: #343a40;
}
.section-hero-slider .hero-text-box__description {
  font-size: 1.6rem;
  color: #868e96;
  line-height: 1.5;
}
.section-hero-slider .hero-text-box__btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.section-hero-slider .slider__btn {
  position: absolute;
  top: 40%;
  z-index: 10;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}
.section-hero-slider .slider__btn--left {
  left: 2rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.section-hero-slider .slider__btn--right {
  right: 2rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.section-hero-slider .dots {
  position: absolute;
  bottom: 25%;
  right: 1%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.section-hero-slider .dots__dot {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #3bc9db;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}
.section-hero-slider .dots__dot--active {
  background-color: #fff;
  border: 0.2rem solid #868e96;
  opacity: 1;
}

/* Below 704px (smaller tablets) */
@media (max-width: 44em) {
  .section-hero-slider {
    height: 75rem !important;
  }
  .section-hero-slider .slide {
    margin: 0 0 0 10% !important;
    grid-template-rows: 1fr 2fr !important;
    grid-template-columns: 1fr !important;
    row-gap: 11.6rem !important;
    padding: 0 5.4rem 0 5.4rem;
    width: 80vw;
  }
  .section-hero-slider .slide .hero-text-box {
    grid-row: 1/2;
    text-align: center;
  }
  .section-hero-slider .slide .hero-text-box__btn {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .section-hero-slider .slide .hero-img-box {
    height: 80%;
    width: auto;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .section-hero-slider .slider__btn {
    top: 41%;
  }
  .section-hero-slider .slider__btn--left {
    left: 11.5rem;
  }
  .section-hero-slider .slider__btn--right {
    right: 6rem;
  }
  .section-hero-slider .dots {
    top: 30%;
    right: 38%;
  }
}
/* Below 560px (phones) */
@media (max-width: 35em) {
  .section-hero-slider {
    max-height: 75rem;
  }
  .section-hero-slider .slide .hero-img-box {
    height: 60%;
  }
  .section-hero-slider .dots {
    top: 40%;
  }
}
.section-new-products {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.2rem;
  line-height: 1.5;
  padding: 0 2rem 5rem 2rem;
  border-bottom: 0.1rem #ced4da solid;
}
.section-new-products .product__img {
  width: 100%;
  margin-bottom: 2rem;
}
.section-new-products .product__title {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: lighter;
  color: #343a40;
  margin-bottom: 1.3rem;
}
.section-new-products .product__description {
  font-size: 1.5rem;
  color: #868e96;
  margin-bottom: 1.3rem;
}
/* Below 704px (smaller tablets) */
@media (max-width: 44em) {
  .new-product {
    grid-column: 1/-1;
    justify-self: center;
  }

  .section-new-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    -webkit-column-gap: 1rem !important;
       -moz-column-gap: 1rem !important;
            column-gap: 1rem !important;
    row-gap: 2rem !important;
  }
}
/* Below 560px (phones) */
@media (max-width: 35em) {
  .section-new-products {
    grid-template-columns: 1fr !important;
    gap: 4.2rem;
    text-align: center;
  }
}
/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
.section-features {
  padding: 0 2rem 4.8rem 2rem;
}
.section-features__title {
  font-size: 2.4rem;
  font-style: italic;
  color: #343a40;
  text-align: center;
  margin: 4.4rem 9.8rem;
}
.section-features .features-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 2.4rem;
     -moz-column-gap: 2.4rem;
          column-gap: 2.4rem;
  row-gap: 4rem;
}
.section-features .features-grid .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.section-features .features-grid .features__img {
  width: 26%;
  border: 1px solid #3bc9db;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0.4rem;
}
.section-features .features-grid .features__title {
  font-size: 1.6rem;
  color: #3bc9db;
  margin-bottom: 1.2rem;
}
.section-features .features-grid .features__description {
  font-size: 1.4rem;
  color: #868e96;
  line-height: 1.2;
}

/* Below 816px (smaller tablets) */
@media (max-width: 51em) {
  .features-grid {
    -webkit-column-gap: 1.6rem !important;
       -moz-column-gap: 1.6rem !important;
            column-gap: 1.6rem !important;
    row-gap: 2.4rem !important;
  }
}
/* Below 704px (smaller tablets) */
@media (max-width: 44em) {
  .features-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    -webkit-column-gap: 1rem !important;
       -moz-column-gap: 1rem !important;
            column-gap: 1rem !important;
    row-gap: 2rem !important;
  }
}
/* Below 560px (phones) */
@media (max-width: 35em) {
  .section-features__title {
    margin: 3.6rem 0.6rem !important;
  }

  .features-grid {
    grid-template-columns: 1fr !important;
  }
}
.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  background-color: #343a40;
  color: #ced4da;
  padding: 3.4rem 2rem 3.4rem 2rem;
  font-size: 1.4rem;
  line-height: 1.4;
}
.main-footer .heading {
  font-size: 2rem;
  margin-bottom: 1.6rem;
  color: #f1f3f5;
}
.main-footer .address-column #postcode {
  margin-bottom: 1rem;
}
.main-footer .address-column #adress-mail {
  color: #3bc9db;
}
.main-footer .more-info-column .footer-li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #495057;
}
.main-footer .more-info-column .footer-li .footer-link {
  color: #3bc9db;
}
.main-footer .author-column #post-title {
  font-size: 1.6rem;
}
.main-footer .author-column #post-author {
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
}
.main-footer .author-column #author-info {
  margin-bottom: 0.6rem;
}
.main-footer .author-column #more-info-btn {
  color: #3bc9db;
  position: relative;
  left: 65%;
}
.main-footer .cta-column #cta-input {
  color: #f1f3f5;
  background-color: #495057;
  margin-bottom: 1.2rem;
  padding: 0.8rem 0.4rem;
  border: none;
  border-radius: 8px;
  width: 100%;
}

.footer {
  font-size: 1.4rem;
  color: #ced4da;
  background-color: #212529;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Below 560px (phones) */
@media (max-width: 35em) {
  .main-footer {
    grid-template-columns: repeat(2, 1fr);
  }

  .cta-column {
    grid-column: 2;
    grid-row: 1;
  }

  .address-column,
.cta-column {
    margin-bottom: 2.6rem;
  }
}
/* Below 816px (tablets) */
/* Below 704px (smaller tablets) */
/* Below 560px (phones) */
/* Browser specific styles */
