/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: rgba(255, 255, 255, 0.288);

$darkest-gray: #212529;
$dark-grey: #343a40;
$darker-gray: #495057;
$grey: #868e96;
$light-gray: #ced4da;
$cyan: #3bc9db;
$white: #f1f3f5;
/* Components */
