/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: rgba(255, 255, 255, 0.288);
$light-gray: #f1f1f1;

$dark-grey: #343a40;
$grey: #495057;
$cyan: #3bc9db;
$white: #f1f3f5;
/* Components */
