.btn {
  font-size: 1.5rem;
  font-weight: 100;
  font-family: serif;
  letter-spacing: 0.1rem;
  color: #fff;
  background-color: $cyan;
  border: none;
  border-radius: 5px;
  padding: 0.8rem;
  cursor: pointer;
}
