html {
  font-size: 62.5%;
  font-family: serif;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.container {
  margin: 0 auto;

  border-top: 0.4rem solid skyblue;

  max-width: 100rem;
}

/* Below 912px (smaller laptops) */
@media (max-width: 57em) {
  html {
    font-size: 56.25%;
  }
}
/* Below 816px (tablets) */
@media (max-width: 51em) {
  html {
    font-size: 52%;
  }
}
