.footer {
  font-size: 1.4rem;
  color: $light-gray;
  background-color: $darkest-gray;

  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

/* Below 560px (phones) */

@media (max-width: 35em) {
  .main-footer {
    grid-template-columns: repeat(2, 1fr);
  }
  .cta-column {
    grid-column: 2;
    grid-row: 1;
  }

  .address-column,
  .cta-column {
    margin-bottom: 2.6rem;
  }
}
