.main-header {
  display: flex;
  justify-content: space-between;

  padding-bottom: 2.4rem;
  border-bottom: 0.1rem $light-gray solid;
  margin-bottom: 9rem;

  .header-info {
    // letter-spacing: 0.1px;
    line-height: 0.8;
    display: inline-flex;
    flex-direction: column;
    gap: 2rem;

    &__social-network {
      display: flex;
      gap: 1.4rem;

      .icons {
        height: 3.4rem;
        width: auto;
      }
    }

    &__logo {
      display: flex;
      flex-direction: column;

      .logo-name {
        font-size: 3.1rem;
        font-weight: 500;
        text-transform: uppercase;
        color: $dark-grey;

        &-first {
          font-size: 4rem;
        }
        &-template {
          font-size: 1.6rem;
          font-weight: 100;
          color: $grey;
        }
      }
    }
  }

  .navigation {
    display: inline-flex;
    flex-direction: column;
    gap: 4.5rem;
    justify-content: space-between;

    &__search-field {
      align-self: flex-end;
      .input-field {
        height: 3.4rem;
        width: 22rem;
        color: #f1f3f5;
        background-color: #343a40;
        border-radius: 8px;
        border: none;
      }

      .btn-search {
        height: 3.4rem;
        border-radius: 8px;
        border: none;
        background-color: $cyan;
        color: $white;
      }
    }
    .main-navigation {
      &__list {
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 500;
        display: flex;
        gap: 2rem;
        // justify-content: flex-end;

        .nav-item {
          color: $grey;
        }
        .first-item {
          color: $cyan;
        }
      }
    }
  }
}
