.section-hero-slider {
  //   display: flex;
  //   gap: 10rem;

  // max-width: 100%;
  height: 40rem;

  border-bottom: 1px solid $light-gray;
  position: relative;

  overflow: hidden;

  .slide {
    position: absolute;
    top: 0;
    // max-width: 100%;
    // height: 35rem;
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    column-gap: 10rem;
    // justify-content: center;
    margin-left: 5rem;
    padding: 0 2rem 8rem 2rem;
    margin-top: 5rem;

    transition: transform 2s;
  }

  .hero-img-box {
    background-image: linear-gradient(
        to right bottom,
        rgba(122, 205, 243, 0.05),
        rgba(34, 184, 230, 0.15)
      ),
      url("../images/content/hero.jpg");
    background-size: cover;
    background-position: center;
    width: auto;
    max-width: 500rem;
    // max-height: 8rem;
    // object-fit: cover;

    transform: scale(1.3);
  }

  // 2nd slide img
  .hero-img1 {
    background-image: url(../images/content/hero1.jpg);
  }

  .hero-img2 {
    background-image: url(../images/content/hero2.jpg);
  }
  .hero-img3 {
    background-image: url(../images/content/hero3.jpg);
  }

  .hero-text-box {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    z-index: 0;
    position: relative;

    &__title {
      font-size: 4.4rem;
      text-transform: uppercase;
      color: $dark-grey;
    }

    &__description {
      font-size: 1.6rem;
      color: $grey;
      line-height: 1.5;
    }

    &__btn {
      align-self: flex-start;
      //   margin-bottom: 5rem;
    }
  }

  .slider__btn {
    position: absolute;
    top: 40%;
    z-index: 10;

    border: none;
    background: rgba(255, 255, 255, 0.7);
    font-family: inherit;
    color: #333;
    border-radius: 50%;
    height: 5.5rem;
    width: 5.5rem;
    font-size: 3.25rem;
    cursor: pointer;
  }
  .slider__btn--left {
    left: 2rem;
    transform: translate(-50%, -50%);
  }

  .slider__btn--right {
    right: 2rem;
    transform: translate(50%, -50%);
  }

  .dots {
    position: absolute;
    bottom: 25%;
    right: 1%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;
    // border-radius: 50%;
  }

  .dots__dot {
    height: 1.5rem;
    width: 1.5rem;
    background-color: $cyan;
    border-radius: 50%;
    cursor: pointer;
    border: none;
  }

  // .dots__dot:last-child {
  //   margin: 0;
  // }

  .dots__dot--active {
    // background-color: $cyan;
    background-color: #fff;
    border: 0.2rem solid $grey;
    opacity: 1;
  }
}

/* Below 704px (smaller tablets) */

@media (max-width: 44em) {
  .section-hero-slider {
    margin-right: 5rem;
    padding: 0 5.6rem 9.6rem 5.6rem;

    height: 95rem;

    .slide {
      grid-template-rows: 1fr 2fr !important;
      grid-template-columns: 1fr !important;
      row-gap: 12.6rem;
    }
    .hero-text-box {
      grid-row: 1/2;
      text-align: center;
    }
  }
}
