/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

.section-new-products {
  margin-top: 5rem;

  display: flex;
  gap: 3.2rem;

  line-height: 1.5;

  padding-bottom: 5rem;
  border-bottom: 0.1rem $light-gray solid;

  .product {
    &__img {
      width: 100%;
      margin-bottom: 2rem;
    }

    &__title {
      font-size: 1.7rem;
      text-transform: uppercase;
      font-weight: lighter;
      color: $dark-grey;
      margin-bottom: 1.3rem;
    }

    &__description {
      font-size: 1.5rem;
      color: $grey;
      margin-bottom: 1.3rem;
    }

    &__more-info-btn {
    }
  }
}
