.section-new-products {
  margin-top: 5rem;

  display: flex;
  gap: 3.2rem;

  line-height: 1.5;

  padding-bottom: 5rem;
  border-bottom: 0.1rem $light-gray solid;

  .product {
    &__img {
      width: 100%;
      margin-bottom: 2rem;
    }

    &__title {
      font-size: 1.7rem;
      text-transform: uppercase;
      font-weight: lighter;
      color: $dark-grey;
      margin-bottom: 1.3rem;
    }

    &__description {
      font-size: 1.5rem;
      color: $grey;
      margin-bottom: 1.3rem;
    }

    &__more-info-btn {
    }
  }
}
