.section-new-products {
  margin-top: 5rem;

  display: flex;
  gap: 3.2rem;

  line-height: 1.5;

  padding: 0 2rem 5rem 2rem;
  border-bottom: 0.1rem $light-gray solid;

  .product {
    &__img {
      width: 100%;
      margin-bottom: 2rem;
    }

    &__title {
      font-size: 1.7rem;
      text-transform: uppercase;
      font-weight: lighter;
      color: $dark-grey;
      margin-bottom: 1.3rem;
    }

    &__description {
      font-size: 1.5rem;
      color: $grey;
      margin-bottom: 1.3rem;
    }

    &__more-info-btn {
    }
  }
}

/* Below 704px (smaller tablets) */
@media (max-width: 44em) {
  .new-product {
    grid-column: 1/-1;
    justify-self: center;
  }
  .section-new-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    column-gap: 1rem !important;
    row-gap: 2rem !important;
  }
}

/* Below 560px (phones) */

@media (max-width: 35em) {
  .section-new-products {
    grid-template-columns: 1fr !important;
    gap: 4.2rem;
    text-align: center;
  }
}
